#event-detail-view div.content {
  height: calc(100% - 6.2rem);
  overflow-y: auto;
}

#event-detail {
  background-color: var(--background);
}

#event-detail ul li {
  padding: 0;
}

#event-detail ul {
  padding: 0;
}

.event-detail-label {
  float: left;
  color: var(--highlight-color);
}

div#event-detail-duration-time {
  top: 20%;
  line-height: 2.1rem;
  font-size: 2.1rem;
}

div#event-detail-duration-time span {
  font-size: 1.6rem;
  color: var(--color-gs65);
}

.event-detail-location-div {
  float: left;
  height: 8.2rem;
  position: absolute;
  left: 15%;
  top: 40%;
  color: var(--color-gs00);
}

.event-detail-time-div {
  float: left;
  height: 8.2rem;
  position: absolute;
  left: 15%;
  color: var(--color-gs00);
}

.event-detail-time-div-top {
  top: -20%;
  position: absolute;
  width: 30rem;
}

.event-detail-time-div-bot {
  top: 5%;
  position: absolute;
  width: 30rem;
}

li.current-calendar div.indicator{
  float: left;
  height: 8.2rem;
  background-color: #00d7bb;
  width: 0.4rem;
}

#event-detail-view li.current-calendar {
  padding: 0;
}

#event-detail-view li.alarms {
  padding-left: 1.4rem;
}

.event-detail-current-calendar-div {
  float: left;
  height: 8.2rem;
  padding-left: 1rem;
}

.event-detail-current-calendar-div-top {
  position: absolute;
  top: 25%;
  color: var(--color-gs65);
}

.event-detail-current-calendar-div-bot {
  position: absolute;
  top: 50%;
  color: var(--color-gs00);
}

.event-detail-alarms-div-top {
  position: absolute;
  top: 25%;
  color: var(--color-gs65);
}

.event-detail-alarms-div-bot {
  position: absolute;
  top: 50%;
  color: var(--color-gs00);
}

.event-detail-description-div-top {
  padding-top: 1rem;
  color: var(--color-gs65);
}

.event-detail-description-div-bot {
  color: var(--color-gs00);
}

#event-detail-view #event-detail-description {
  line-height: 2.1rem;
}

#event-detail-view li.description {
  padding-left: 1.4rem;
}

#event-detail-view.invitation .detail-invitation-from,
#event-detail-view.invitation .detail-invitees {
  display: none;
}

.event-detail-invitation-div-top {
  position: absolute;
  top: 25%;
  color: var(--color-gs65);
}

.event-detail-invitation-div-bot {
  position: absolute;
  top: 50%;
  color: var(--color-gs00);
}

.event-detail-invitees-div-top {
  padding-top: 1rem;
  color: var(--color-gs65);
}

.event-detail-invitees-div-bot {
  color: var(--color-gs00);
}

#event-detail-invitees {
  line-height: 2.1rem;
}
