/* events-list-agenda
 * =============== */

#events-list-agenda {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  background-color: var(--background);
  will-change: scroll-position;
  height: calc(100% - 6.2rem);
  width: 100%;
}

div#events-list-agenda::after {
  border: none;
}

#empty-message {
  display: none;
}

#events-list-agenda .event {
  display: flex;
  min-height: 8.2rem;
  position: relative;
  padding: 0;
  margin-left: -1rem;
  margin-right: -2rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

#events-list-agenda .event:active,
#events-list-agenda .event:focus {
  outline: none;
}

#events-list-agenda .container {
  height: 100%;
  padding: 0;
  /*padding: 0 1.2rem;*/
}

/* The last month day event doesn't need a bottom border. */
#events-list-agenda .event:last-child > .container {
  border-bottom: none;
}

#events-list-agenda .event-title {
  min-height: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

#events-list-agenda .event-location {
  display: block;
  top: 2.8rem;
  min-height: 2.1rem;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #707070;
  font-size: 1.3rem;
  font-weight: 400;
}

#events-list-agenda .indicator {
  width: 0.4rem;
  min-height: 8.2rem;
}

#events-list-agenda .event-time {
  color: var(--color-gs65);
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  font-size: 1.5rem;
  min-height: 8.2rem;
  justify-content: center;
}

#events-list-agenda .event-time .all-day {
  white-space: normal;
  line-height: 3rem;
}

#events-list-agenda .start-time,
#events-list-agenda .end-time {
  height: 2rem;
  line-height: 2rem;
}

#events-list-agenda .event-details {
  word-break: break-all;
  line-height: 2.1rem;
  width: 23rem;
  font-size: 2.1rem;
  min-height: 8.2rem;
  color: var(--color-gs00);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1rem;
}

#events-list li[cachefocus] {
  background-color: var(--highlight-color) !important;
  color: #fff !important;
}
