/* loading */
body.loading {
  visibility: hidden;
}

/* general elements */

a:active {
  border: none;
}

p {
  font-size: 1.5rem;
  line-height: 130%;
}

menu[type="toolbar"] a {
  text-decoration: none;
}

ol.link-list label,
ol.link-list a {
  display: block;
  min-height: 5.5rem;
  line-height: 5.5rem;
  font-size: 1.7rem;
  padding: 0 1.5rem;
  border-bottom: 0.1rem solid #C5C5C5;
  text-decoration: none;
  color: #000;
  margin: 0 1.5rem;
}

ol.link-list li:last-child label,
ol.link-list li:only-child label,
ol.link-list li:last-child a,
ol.link-list li:only-child a {
  border-bottom: 0;
}

#today .icon-calendar-today {
  font-size: 1.4rem;
}

#today .icon-calendar-today:before {
  position: absolute;
  font-size: 3rem;
  line-height: 4.2rem;
  left: 50%;
  transform: translateX(-52%);
}

#time-views {
  visibility: hidden;
}

body[data-path="/month/"] #time-views,
body[data-path="/week/"] #time-views,
body[data-path="/day/"] #time-views,
body[data-path="/settings/"] #time-views {
  visibility: visible;
}

#view-selector > .today {
  border-right: 0.1rem solid #F2F2F2;
}

#view-selector a[aria-selected="true"] {
  color: #00aacc;
  font-weight: 500;
}

body[data-path="/month/"] #view-selector > .month a:after,
body[data-path="/week/"] #view-selector > .week a:after,
body[data-path="/day/"] #view-selector > .day > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 0.3rem);
  border-bottom: 0.3rem solid #00aacc;
}

body[data-path="/month/"] #view-selector > .month a:active,
body[data-path="/week/"] #view-selector > .week a:active,
body[data-path="/day/"] #view-selector > .day > a:active {
  color: #5F5F5F;
}

.bb-tablist > li > a:after,
.bb-tablist > li > button:after {
  display: block !important;
}

/* view management */

.fullscreen-view {
  display: none;
}

.fullscreen-view.active {
  display: block;
}

#time-views {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#time-views > section {
  display: none;
  position: relative;
  height: calc(100% - 9.5rem);
  background: #fff;
}

#time-views > section.active {
  display: block;
}

#time-header [type="toolbar"] {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.settings-drawer-visible #time-header [type="toolbar"] {
  opacity: 0;
}

/* view loading */

.during-progress {
  display: none;
}

#views .in-progress .during-progress {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 200;
  background-color: #CCC;
  opacity: 0.5;
  text-align: center;
}

#progress-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  border: none;
  overflow: hidden;
  z-index: 1000;
  display: none;
  height: 5.7rem;
}

#progress-indicator p {
  line-height: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-gs00);
}

.pending-operation #time-views{
  opacity: 0.2;
}

.pending-operation #progress-indicator {
  display: block;
  opacity: 1;
}

#throbber {
  height: 5.2rem;
  background: url('ui/progress.png') repeat-x left bottom / 32rem !important;
  animation: .5s throb infinite steps(12);
}

@keyframes throb {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -4.8rem);
  }
}

/* create account view */
#create-account-view > p {
  margin: 0 2rem;
}

.fullscreen-view.active {
  visibility: visible;
}

.fullscreen-view {
  z-index: 1000;
  overflow: hidden;
  visibility: hidden;
  /* completely override other views */
  background-color: var(--background);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.option-menu-bg {
  opacity: 0.3;
}

.cal-chooser-bg {
  opacity: 0.3;
}

/* [BB][tabs]*/
#view-selector {
  position: absolute;
  bottom: 0;
  height: 4.5rem;
}

#view-selector > li > a {
  outline: none;
}

@keyframes fade-status {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

section[role="status"] {
  pointer-events: none;
  display: none;
}

section[role="status"].active {
  display: block;
  animation-name: fade-status;
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  z-index: 1000;
}

/* Hide on initial render to prevent flashing */
#settings {
  visibility: hidden;
}

body[data-path^='/settings'] #settings {
  visibility: visible;
}

/* these settings avoid conflicts with the shared icons */
.gaia-icon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* for accessiblity only, fonts should not be visible */
gaia-header > a > span {
  font-size: 0;
}

/* these icons uses a 32px base grid so we need to adjust the font size
 * (shared font uses a 3rem base font-size) */
.icon-calendar-alarm:before,
.icon-calendar-bullet:before,
.icon-calendar-dot:before,
.icon-calendar-today:before,
.icon-calendar-eventalarm:before {
  font-size: 3.2rem;
}

/* RTL View */

html[dir="rtl"] #view-selector > .today {
  border-left: 0.1rem solid #F2F2F2;
  border-right: unset;
}

html[dir="rtl"] #advanced-settings-view .account-list li {
  /* text is always right aligned on RTL even if text direction is still LTR */
  text-align: right;
}

html[dir="rtl"] #advanced-settings-view .account-list .error a {
  background-position: right;
}

#calendar-option-menu-wrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
}

#calendar-dialog-wrapper {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

#calendar-dialog-wrapper h5-dialog .dialog-input-container input {
  font-size: 2.1rem;
  height: 4.2rem;
}

#month-view-date-picker {
  position: absolute;
  bottom: 0px;
  width: 0px;
  height: 0px;
}
.p-sec {
  font-size: 1.6rem;
  font-weight: 400;
}

.p-pri {
  font-size: 2.1rem;
  font-weight: 400;
}

#events-list-view {
  background-color: var(--background);
}

div[contenteditable] {
  line-height: 2.1rem;
}

#calendar-toast {
  width: calc(100% - 2rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-gs85-contrast);
  color: var(--color-gs20-contrast);
  display: flex;
  height: 8.2rem;
  align-items: center;
  justify-content: center;
}
